.Home a {
  text-decoration: none;
}

.Home {
  max-width: 100vw;
  padding: 5vh 5vw;
  display: grid;
  gap: 10vw;
}
.loader{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loader img{
  max-width: fit-content;
  width: 250px;
  
}
.error{
  width: 100%;
  height: 90vh;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (orientation: landscape){
    .Home{
        grid-template-columns: repeat(4, 1fr);
        margin: 0 2vw;
        gap: 20px;
    }
}
@media screen and  (min-width: 480px) and (orientation: portrait){
  .Home{
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 0;
  }
}
@media screen and  (max-width: 480px) and (orientation: portrait){
  .Home{
    padding: 0;
    gap: 0;
  }
}
