.Home a {
  text-decoration: none;
}

.Home a,
.Home a:visited {
  color: #000;
}

.Home {
  width: 100vw;
  padding: 5vh 5vw;
  background-color: #fff;
  display: grid;
  gap: 2vh;
}
@media screen and (orientation: landscape){
    .Home{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5vw;
    }
}
@media (min-width: 540px) and (orientation: portrait){
  .Home{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5vw;
  }
}
