.NewPost{
  background-image: url('../assets/scattered-forcefields.svg');
  background-repeat: repeat;
  background-size: 100%;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 5rem 0;
}
.newPostForm {
  margin: 0 10rem;
  padding: 3rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 #00000033, 0 10px 50px 0 #00000030;
  display: flex;
  flex-direction: column;
}
.newPostForm > input{
  margin: 0.5rem 0;;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #0b0b0b;
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.sun-editor, .se-wrapper .se-wrapper-wysiwyg {
  border: 1px solid #0b0b0b;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  min-height: 300px;
  margin-bottom: 1rem;
  outline: none;
  resize: none;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text']{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border: none;
}

.newPostForm button[type="submit"]{
  background-color: #0b0b0b;
  color: white;
  margin: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (orientation: portrait){
    .newPostForm{
        margin: initial;
    }
}