.PostPage {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.se-video-container figure iframe{
  min-height: 35vw;
}
.se-video-container figure{
  margin-bottom: -56.25%;
}
.Missing h2,
.PostPage h2,
.Missing p,
.PostPage p {
  margin-bottom: 1rem;
}

.PostPage button{
  border: none;
  background-color: transparent;
}
.deleteButton :hover{
  color: rgb(206, 9, 9);
}
.editButton :hover{
  color: rgb(47, 255, 50);
}
.post a {
  text-decoration: none;
}

.post img{
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.postContainer{
  min-width: 50vw;
  max-width: 100vw;
  font-size: 1.2rem;
  margin: 2rem 18vw;
}

.postContainer h2{
  font-size: 2rem
}
.postContainer strong{
  font-size: 1.5rem;
}

@media screen and (orientation: portrait){
  .postContainer{
    margin: 2rem;
  }
  .se-video-container figure iframe{
    min-height: 50vw;
  }
}
