.PostPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.Missing h2,
.PostPage h2,
.Missing p,
.PostPage p {
  margin-bottom: 1rem;
}

.PostPage button {
  border: none;
  background-color: transparent;
}
.deleteButton :hover{
  color: rgb(206, 9, 9);
}
.editButton :hover{
  color: rgb(47, 255, 50);
}

.post {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.post a {
  text-decoration: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.post img{
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.postContainer{
  min-width: 50vw;
  max-width: 100vw;
  font-size: 0.85rem;
  margin: 2rem 18vw;
}

.postContainer h2{
  font-size: 1.6rem
}
.postContainer strong{
  font-size: 1.1rem;
}

@media screen and (orientation: portrait){
  .postContainer{
    margin: 2rem;
  }
}