.searchForm{
  width: 40%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.searchForm input[type="text"] {
  border: none;
  font-size: 0.8rem;
  padding: 0.8rem 0.5rem;
  height: 0.7rem;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: gray;
}
input:focus{
  outline: none;
}
.searchForm label {
  position: absolute;
  left: -99999px;
}

@media screen and (orientation: landscape){
  .searchForm input[type="text"]{
    width: 50%;
  }
}

@media screen and (orientation: portrait){
  .searchForm{
    width: 20%;
    margin-left: 65%;
  }

}