.searchForm{
  position: absolute;
  z-index: -1;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f5f5f5;
}
.searchForm input[type="text"] {
  border: none;
  /* min-width: 50%; */
  width: 70%;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  height: 1rem;
  border-bottom: 1px solid;
  background-color: transparent;
}
input:focus{
  outline: none;
}
.searchForm label {
  position: absolute;
  left: -99999px;
}

@media screen and (orientation: landscape){
  .searchForm input[type="text"]{
    width: 50%;
  }
}