.Header {
  position: fixed;
  z-index: 100000000;
  margin-bottom: 4.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #0b0b0b;
}

.Nav ul {
  display: flex;
  font-size: 0.8rem;
  list-style-type: none;
}

.Nav li {
  padding: 0 0.7rem;
}
.Nav li a {
  color: #efefef;
  background-color: #0b0b0b;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  color: #ffffff;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

/* navbar */
header button {
  width: fit-content;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  line-height: 0;
}
.Header button :focus{
  background-color: #0b0b0b;
}
.Header button a:focus{
  background-color: #0b0b0b;
}
.nav-btn {
  cursor: pointer;
  display: none;
}
@media screen and (orientation: portrait) {
  .nav-btn,
  .Nav ul {
    display: unset;
    font-size: 1rem;
  }
  .Nav li{
    padding: 0.5rem;
  }
  .nav-close-btn, .Nav ul a{
    color: #ffffff; 
  }
  .Nav{
    border-radius: 0 0 0 5rem;
    background-color: #0b0b0b;
  }
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 35%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    transform: translate(300vw, -300vh);
  }
  .responsive_nav {
    transform: none;
  }
  .nav-close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
}
