@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.Header {
  position: fixed;
  z-index: 100000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  width: 100%;
  background-color: rgb(0,0,0,0.2);
}
.Header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.logoText{
  font-family: 'Dancing Script', cursive;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: #efefef;
  text-shadow: 1px 1px #000000;
}
.Nav ul {
  display: flex;
  font-size: 0.8rem;
  list-style-type: none;
}

.Nav li {
  padding: 1rem 0.7rem;
}
.Nav li a {
  color: #efefef;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  color: #ffffff;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

/* navbar */
header button {
  width: fit-content;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  line-height: 0;
}
.Header button :focus{
  background-color: #0b0b0b;
}
.Header button a:focus{
  background-color: #0b0b0b;
}
.nav-btn {
  cursor: pointer;
  display: none;
}
@media screen and (orientation: portrait) {
  .nav-btn,
  .Nav ul {
    display: unset;
    font-size: 1rem;
  }
  .Nav li{
    padding: 0.5rem;
  }
  .nav-close-btn, .Nav ul a{
    color: #ffffff; 
  }
  .Nav{
    margin: 2.5rem 0.2rem;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.8);
  }
  header nav {
    /* transition: 0.5s; */
    transform: translate(100vw, -100vh);
  }
  .Header{
    background-color: rgb(0,0,0,0);
  }
  .Header nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 25%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
  }
  .responsive_nav {
    transform: none;
  }
  .nav-close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
}
