.pst {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.336);
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    border-radius: 5px;
    overflow: hidden;
    /* margin: 0px 12px; */
}
.pst a, .pst a:visited{
    color: #fff;
}
.pst h2{
    font-size: 0.8rem;
}
.pstText{
    height: 100%;
    padding: 0.4rem 0.7rem;
}
.pst .postdate{
    line-height: 1rem;
    font-size: 0.44rem;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pst p{
    margin: 0.5rem 0;
    line-height: 0.8rem;
    font-size: 0.55rem;
}
.pst img{
    width: 100%; 
    height: 135px; 
    object-fit: cover;
}

@media screen and (orientation: portrait){
    .pst img{
        border-radius: 5px;
        width: 100%; 
        min-height: 15vh;
        max-height: 20vh;
        object-fit: cover;
    }
    .pst h2{
        font-size: 1rem;
    }
    .pst{
        margin: 0vw 5vw;
    }
}


  