.pst {
    border: solid 1px;
    border-radius: 20px;
    padding: 1rem;
    overflow: hidden;
}

.pst h2{
    font-size: 1.2rem;
}
.pst .postdate{
    line-height: 2rem;
    font-size: 0.8rem;
}
.pst p{
    margin: 0;
    line-height: 2rem;
    font-size: 1rem;
}
.pst img{
    max-width: 100%;
    min-width: 100%;
    height: 200px;
}
@media screen and (orientation: landscape){
    .pst{
        max-width: 30vw;
    }
}